body,
html {
    margin: 0;
    padding: 0;
    background-color: #bcd6ed;
}

.screen-wrapper {

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.otp-container {
    background-color: #eeeeee;
    width: 600px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 8px 0px rgb(76, 85, 83);
}

.otp-input {
    width: 64px;
    height: 100px;
    font-size: 80px;

    text-align: center;
    margin: 0 4px;
}

/* .otp-input:hover {
    background-color: rgb(235, 242, 243);
} */

.otp-input:focus {
    outline: none;
    border: 1px solid rgb(140, 188, 241);
    background-color: #eef;

}

.otp-input:not(:placeholder-shown) {
    box-shadow: 0 2px 8px 0px rgb(76, 85, 83);
    border: 2px solid #bcd6ed;
}

.foot-note {
    background-color: #eeeeee;
    color: #999;
    width: 400px;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    padding: 8px;
}